    body {
      cursor: url('cursor01.cur'), auto;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 0px;
      min-height: 100vh;
      margin: 0;
      position: relative;
    }
    header {
      width: 100%;
      text-align: center;
      align-content: center;
      background-color: #f8f3e8;
      margin-bottom: 20px;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .botones {
        background: none;
        border: none;
        width: 300px;
        height:30px;
        font-size: 17px;
        color: #0769cb;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
    }

    .botones:hover{
        background: #c2bfb8;
        color: #16261a;
        text-decoration: underline;
        cursor: url('cursor02.cur'), auto;
    }
    .draw-box {
        position: relative;
    }
    .sticker {
        position: absolute;
        top: -60px; /* Ajusta según sea necesario */
        right: -25px; /* Ajusta según sea necesario */
        background-color: green;
        padding: 5px;
        transform: rotate(20deg); /* Ajusta el ángulo según sea necesario */
    }

    .amazon-logo img {
      width: 200px;
      height: 200px;
      animation: logo-animation 2s infinite;
    }
    nav ul {
      display: flex;
      text-align: center;
      justify-content: center;
      list-style-type: none;
    }
    .search-place{
        color: #6b6e6b;
        border-color: black;
        border-style: solid;
        border-width: 3px;
    }
    #gratis{
        color: green;
        font-weight: bold;
        font-size: 26px;
    }
    .search-button{
        background-color: gray;
        font-family: Monospace;
        color: white;
        border-style: solid;
        border-width: 3px;
        border-color: black;
    }
    .search-bar {
      margin-top: 0px;
      border-bottom: none;
      margin-bottom: 10px;
    }
    .products {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 100px;
      width: 100%;
      margin-top: 20px;
    }
    .product {
      width: 40%;
      text-align: center;
      border: 1px solid #e0e0e0;
      background-color: #2f2b29;
      padding: 10px;
      box-sizing: border-box;
    }
    a {
      color: #0769cb; 
      text-decoration: none; 
    }
    a:hover {
      color: #00ff00; 
      cursor: url('cursor02.cur'), auto;
    }
    table {
      width: 50%;
    }
    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
      padding: 10px;
      text-align: center;
    }
    section {
      margin-bottom: 300px;
    }
    footer {
      border: 6px solid #1a1b1a;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      text-align: center;
      position: sticky;
      bottom: 0;
      width: 100%;
      padding: 10px 0;
      background-color: #1b1f1c;
      color: #fff;
    }
     #horaConexion, #tiempoConexion {
       margin-left: 20px;
       margin-right: 20px;
       text-decoration: underline;
        }
    @keyframes logo-animation {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
    }
